---
layout: default
title: GESAD / Equipe
categories:
 - team
---


<div class="row">
	<div class="col-md-12">
		<div class="bigtitle">
			{{ page.title }}
		</div>
	</div>
</div>

<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-2">
	</div>
	<div class="col-md-8">
		<div class="post">




      <div class="row">
      	<div class="col-md-12">
      		<div class="title">
      			Professores
      		</div>
      	</div>
      </div>

      <div class="bigspacer"></div>

      {% for member in site.categories.team reversed %}
      	{% if member.professor == true %}

      		<div class="col-md-6 memberbox">
      			<div class="media profile">
      				<a class="pull-left" href="{{ member.url }}">
        				<img width=160 class="media-object" src="{{ member.image }}">
      				</a>
       			 	<div class="media-body">
        				<div class="head media-heading"><a href="{{ member.url }}" class="off">{{ member.title }}</a></div>
        				<p class="note">{{ member.position }}</p>
                {% if member.linhas != blank %}
                  <p>Linhas de pesquisa:</p>
                  {% for linha in member.linhas %}
                    <li class="note">{{ linha }}</li>
                  {% endfor %}
                {% endif %}
      				</div>
      			</div>
      			<div class="bigspacer"></div>
      			<div class="bigspacer"></div>
          </div>

        {% endif %}
      {% endfor %}



      <div class="row">
      	<div class="col-md-12">
      		<div class="title">
      			Alunos do mestrado
      		</div>
      	</div>
      </div>

      <div class="bigspacer"></div>

      {% for member in site.categories.team reversed %}
      	{% if member.mestrado == true %}
          <div class="col-md-6 memberbox">
            <div class="media profile">
              <a class="pull-left" href="{{ member.url }}">
                <img width=160 class="media-object" src="{{ member.image }}">
              </a>
              <div class="media-body">
                <div class="head media-heading"><a href="{{ member.url }}" class="off">{{ member.title }}</a></div>
                <p class="note">{{ member.position }}</p>
                {% if member.linhas != blank %}
                  <p>Linhas de pesquisa:</p>
                  {% for linha in member.linhas %}
                    <li class="note">{{ linha }}</li>
                  {% endfor %}
                {% endif %}
              </div>
            </div>
            <div class="bigspacer"></div>
            <div class="bigspacer"></div>
          </div>
        {% endif %}
      {% endfor %}


      <div class="row">
      	<div class="col-md-12">
      		<div class="title">
      			Alunos da graduação
      		</div>
      	</div>
      </div>

      <div class="bigspacer"></div>

      {% for member in site.categories.team reversed %}
      	{% if member.graduacao == true %}
          <div class="col-md-6 memberbox">
            <div class="media profile">
              <a class="pull-left" href="{{ member.url }}">
                <img width=160 class="media-object" src="{{ member.image }}">
              </a>
              <div class="media-body">
                <div class="head media-heading"><a href="{{ member.url }}" class="off">{{ member.title }}</a></div>
                <p class="note">{{ member.position }}</p>
                {% if member.linhas != blank %}
                  <p>Linhas de pesquisa:</p>
                  {% for linha in member.linhas %}
                    <li class="note">{{ linha }}</li>
                  {% endfor %}
                {% endif %}
              </div>
            </div>
            <div class="bigspacer"></div>
            <div class="bigspacer"></div>
          </div>
        {% endif %}
      {% endfor %}


      <div class="row">
        <div class="col-md-12">
          <div class="title">
            Colaboradores
          </div>
        </div>
      </div>

      <div class="bigspacer"></div>

      {% for member in site.categories.team reversed %}
        {% if member.colaborador == true %}
          <div class="col-md-6 memberbox">
            <div class="media profile">
              <a class="pull-left" href="{{ member.url }}">
                <img width=160 class="media-object" src="{{ member.image }}">
              </a>
              <div class="media-body">
                <div class="head media-heading"><a href="{{ member.url }}" class="off">{{ member.title }}</a></div>
                <p class="note">{{ member.position }}</p>
                {% if member.linhas != blank %}
                  <p>Linhas de pesquisa:</p>
                  {% for linha in member.linhas %}
                    <li class="note">{{ linha }}</li>
                  {% endfor %}
                {% endif %}
              </div>
            </div>
            <div class="bigspacer"></div>
            <div class="bigspacer"></div>
          </div>
        {% endif %}
      {% endfor %}
      

		</div>
	</div>
	<div class="col-md-2"></div>
</div>
